$color-grey: #333333;
$color-blue: #1188f0;
$color-black: #2C2C2C;
$color-lightgrey: #C8C8C8;
$color-lightgrey-2: #BDBDBD;
$color-lightgrey-3: #F2F2F2;
$color-lightgrey-4:#F3F3F3;
$color-darkgrey:#8D8D8D;
$color-white: #FFFFFF;
$font-size-12: 12px;
$font-size-14: 14px;